// app global css in SCSS form

@font-face {
  font-family: "Terminus";
  src: url(./fonts/Terminus.ttf);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;

  max-height: 56px;
  max-width: 271px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Terminus";
}

body.body--dark {
  background-color: #282a36;
  font-size: 20px;
}
