// app global css in SCSS form

@font-face {
  font-family: "Terminus";
  src: url(./fonts/Terminus.ttf);
}

body {
  font-family: "Terminus";
}

body.body--dark {
  background-color: #282a36;
  font-size: 20px;
}
